body {

    background-color: rgb(221, 218, 218);
    color: rgb(236, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    .content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }
    
    header {
    background-color: rgb(221, 149, 209);
    width: 100%;
    height: 100px;
    float: left;
    margin-bottom: 0.5%;
    }
    
    
    
    main {
    background-color: white;
    color: black;
    width: 100%;
    height: 475px;
    float: right;
    
    }
    
    footer {
    background-color: rgb(179, 96, 161);
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 0.8%;
    text-align: center;
    }
    
    section {
    margin-left: 10px;
    margin-right: 10px;
    }